:root{
    box-sizing: border-box;
}
*,
::before,
::after{
    box-sizing: inherit;
}
.container{
    background-color: teal;
    max-width: 85%;
    margin: 0 auto;
    padding: 30px 50px;
    border-radius: 50px 50px 50px 0;
    overflow: hidden;
}
body{
    background-color: whitesmoke;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
form h1{
    text-align: center;
}
form .form-group{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
form .form-group input, select{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
}
form .form-group label{
    margin-left: 10px;
}
form .form-group input[type="date"], form .form-group input[type="number"]{
    margin: 10px auto;
}

.individual-field, .schedule{
    display: flex;
    outline: none;
}
.individual-field, .schedule label{
    margin-right: 10px;
}
.btn{
    background-color: yellow;
    width: 100%;
    padding: 10px 50px;
    margin: 10px;
    border-radius: 20px;

}
.btn a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
}
.btn:hover{
    background-color: whitesmoke;
    color: black;
}
@media screen and (max-width: 800px){
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 10px 20px;
    }
    .individual-field, .schedule{
        box-sizing: border-box;
    }
}